body {
  background-color: #f5f5f5;
}

.sider_container {
  position: relative;
}

.profile_info {
  object-fit: cover;
  border-radius: 50%;
}

.center_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}

.circle_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: azure;
  border-radius: 50%;
  border: 1px solid rgb(119, 185, 185);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.logout_button {
  position: absolute;
  bottom: 20px;
}

.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}
