.button_group {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.button_item {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 10px;
  width: 80px;
}

.card {
  width: 80%;
  border-radius: 10px;
  padding: 10px 20px;
  border: 1px solid rgb(119, 185, 185);
  background-color: azure;
}

.card_title {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid rgb(225, 217, 217);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
