.button_group {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.button_item {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 10px;
  width: 80px;
}

.card {
  width: 90%;
  padding: 10px 20px;
  border: 1px solid rgb(119, 185, 185);
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_title {
  flex: 3;
  margin: 0 !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_text {
  flex: 5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 90%;
    flex-direction: column;
    height: 110px;
  }
}
