.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search_form {
  display: flex;
  background-color: rgb(119, 185, 185);
  padding: 20px;
  justify-content: center;
  border-radius: 20px;
  gap: 10px;
  width: 30%;
}

.search_input {
  width: 100%;
}

.circle_button {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: azure;
  border-radius: 50%;
  border: 1px solid rgb(119, 185, 185);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.create_button {
  right: 3%;
  bottom: 3%;
}

.paginate_group {
  margin-bottom: 20px;
}

.paginate_button {
  width: 80px;
}

.search_button {
  width: 100px;
}

@media only screen and (max-width: 1024px) {
  .search_form {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .search_form {
    width: 75%;
  }
}
